<% provide(:title, 'index') %>

<h1>#みんなの夏休み</h1>

<p>納涼できる写真を集めました</p>
<h2>
<center>
<%= link_to "地図で見る", :controller => "map", :action => "home" %>
</center>
</h2>
<ul>
	<!-- ダミー かさまし -->
	<li><a href="#"><img src="http://blog-imgs-92.fc2.com/b/l/o/blogman55/livejupiter_1464425616_201s.jpg" /></a></li>
	<li><a href="#"><img src="https://userdisk.webry.biglobe.ne.jp/002/402/18/N000/000/001/20080921.jpg" /></a></li>
	<li><a href="#"><img src="http://image.space.rakuten.co.jp/lg01/31/0001148331/60/img77e670b1zikdzj.jpeg" /></a></li>
	<li><a href="#"><img src="https://rpr.c.yimg.jp/im_siggqAZsZRWN8TnxcpyGgaloVA---x800-n1/amd/20170625-00072514-roupeiro-000-11-view.jpg" /></a></li>
	<li><a href="#"><img src="https://img.travel.rakuten.co.jp/mytrip/content/trend/beach-kanto/images/01.jpg" /></a></li>
	<li><a href="#"><img src="https://s3-ap-northeast-1.amazonaws.com/trippiece/plan/3735/images/373553bade3cd2a55_l.jpg" /></a></li>
	<li><a href="#"><img src="https://fc100.jp/wp-content/uploads/kakigoori-franchise.jpg" /></a></li>

	<% @tweets.map do |tweet| %>
		<% if tweet.media? then %>
				<% tweet.media.each do |value| %>
					<li><img src="<%= value.media_uri_https %>"/></li>
				<% end %>
		<% end %>
	<% end %>
</ul>
