<script src= <%= @api_key %> > </script>
<p id="notice"><%= notice %></p>

<h1>Map</h1>

<style type="text/css">
#map { height: 700px;
	margin-left:auto;    /* 左側マージンを自動的に空ける */
	margin-right:auto;   /* 右側マージンを自動的に空ける */
	text-align:left;     /* 中身を左側表示に戻す */
	width: 80%;}
</style>

<div id="map"></div>

<script type="text/javascript">

function init() {
	var map = null;
	var infowindow = new google.maps.InfoWindow();

	//マップの初期状態を設定
	var option = {
		zoom: 6,
		center: new google.maps.LatLng(35.4093320, 136.7566470),
		mapTypeId: google.maps.MapTypeId.ROADMAP,
		disableDefaultUI: true
	};

	// 吹き出しを閉じる処理
	map = new google.maps.Map(document.getElementById("map"), option);
	google.maps.event.addListener(map, "click", function() {infowindow.close();});

	// 任意の位置にマーカーを追加
	var point = new google.maps.LatLng(35.673264, 139.760668);
	var marker = create_maker(point, "info", "<img src='http://blog-imgs-92.fc2.com/b/l/o/blogman55/livejupiter_1464425616_201s.jpg' />", map, infowindow);
	var point = new google.maps.LatLng(35.673264, 139.860668);
	var marker = create_maker(point, "info", "<img src='https://userdisk.webry.biglobe.ne.jp/002/402/18/N000/000/001/20080921.jpg' />", map, infowindow);

	var point = new google.maps.LatLng(35.6545182, 139.8289645);
	var marker = create_maker(point, "info", "<img src='http://image.space.rakuten.co.jp/lg01/31/0001148331/60/img77e670b1zikdzj.jpeg' />", map, infowindow);

	var point = new google.maps.LatLng(35.6709150, 139.8815369);
	var marker = create_maker(point, "info", "<img src='https://rpr.c.yimg.jp/im_siggqAZsZRWN8TnxcpyGgaloVA---x800-n1/amd/20170625-00072514-roupeiro-000-11-view.jpg' />", map, infowindow);
}

function create_maker(latlng, label, html, map, infowindow) {
	// マーカーを生成
	var marker = new google.maps.Marker({position: latlng, map: map, title: label});
	// マーカーをマウスオーバーした時の処理
	google.maps.event.addListener(marker, "mouseover", function() {
		infowindow.setContent(html);
		infowindow.open(map, marker);
	});
}

google.maps.event.addDomListener(window, "load", init);
</script>
